*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("qcaja2.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 200px;
    
    height: 200px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin3.jpeg");
    background-size: contain;
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: rgb(0, 0, 0);
    
     
    
    }