*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-repeat: repeat;
    background-image: url("qcaja2.jpg");
    background-size: cover;
    
    }
    
    
    
    .img{
    
    position: relative;
    top: 110px;
     
    
    width: 200px;
    
    height: 200px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin3.jpeg");
    background-size: contain;
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: rgb(0, 0, 0);
    
     
    
    }

    .contenedortecnologia{

        height: 8000px;
        
        width: 100%;
        
        position: absolute;
        
        top: 300px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("operadoreselectricos.png");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: rgb(0, 0, 0);
        
        font-size: 20px;
        font-family: sans-serif;
        
        
        }
        .contenedoringles{

            height: 2500px;
            
            width: 100%;
            
            position: absolute;
            
            top: 300px
            
             
            
            }
            
             
            
            .imageningles{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 600px;
            
            width: 600px;
            
            margin-left: 90px;
            
            margin-right:90px;
            
            background-image: url("1.jpeg");
            
            }
            
            
            
            .textoingles{
            
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
            
            } 
            .contenedorsociales{

                height: 2000px;
                
                width: 100%;
                
                position: absolute;
               
                top: 300px

                
                 
                
                } 
                
                 
                
                .imagensociales{
                
                background-repeat: no-repeat;
                
                float:left;
                    
                height: 700px;
                    
                width: 700px;
                    
                margin-left: 15px;
                    
                margin: right 19px;
                
                background-image: url("sociales..drawio2.png")
                }
            
                .textosociales{

             
                
                text-align: center;
                
                color: rgb(0, 0, 0);
                
                font-size: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
                
                } 
    
                 
                    .imagenbiologia{
                    
                     
                    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("fibrosiis.jpg");


                    
                    }
                    
                    
                    
                    .textobiologia{
                    
                    text-align: justify;
                    
                    color: rgb(0, 0, 0);
                    
                    font-size: 20px;
                    font-family: sans-serif;
                    
                    
                     
                }
                    .contenedorbiologia{
            
                        height: 580px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 300px
                        
                         
                        
                        }


                        .imagen2biologia{
                    
                        background-repeat: no-repeat;
                            
                        float:left;
                            
                        height: 1800px;
                            
                        width: 240px;
                            
                        margin-left: 9px;
                            
                        margin-right:9px;
                            
                        background-image: url("hemofilia8.jpg");
        
                         
                    }

                
              .textomatematicas{
                
                text-align: justify;
                
                color: rgb(0, 0, 0);
                
                font-size: 20px;
                font-family:Verdana, Geneva, Tahoma, sans-serif
                
            }
                .contenedormatematicas{

                    float: inline-start;
    
                    height: 2000px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 300px
    
                
                     
                    
                }    
                .imagenmatematicas{
                    
                background-repeat: no-repeat;
                    
                float:left;
                        
                height: 200px;
                        
                width: 260px;
                        
                margin-left: 15px;
                        
                margin: right 19px;
                    
                background-image: url("polinomios.jpg")
            }   

            

          
        .imagenmatematicas2{
            
        background-repeat: no-repeat;
            
        float:left;
                
        height: 200px;
                
        width: 260px;
                
        margin-left: 15px;
                
        margin: right 19px;
            
        background-image: url("WhatsApp\ Image\ 2023-07-25\ at\ 2.51.14\ PM.jpeg")
    }   

    .imagenbiologia3{
                    
                     
                    
        background-repeat: no-repeat;
        
        float:left;
        
        height: 300px;
        
        width: 300px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("anemia2.jpg");
    }
     
  
    
    .imagensociales2{
                
        background-repeat: no-repeat;
        
        float:left;
            
        height: 700px;
            
        width: 700px;
            
        margin-left: 19px;
            
        margin: right 15px;
        
        background-image: url("qcaja7.png")
    } 

   
.imagenmatematicas2{
    
background-repeat: no-repeat;
    
float:left;
        
height: 200px;
        
width: 260px;
        
margin-left: 15px;
        
margin: right 19px;
    
background-image: url("polinomios3.jpg")
}   

.imagentecno2{
        
         
        
    background-repeat: no-repeat;
    
    float:right;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("simbolo-resistencia-electrica.gif");
    
    }
    
.imagentecno3{
        
         
        
        background-repeat: no-repeat;
        
        float:right;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("resistencia-electrica.jpg");
        
        }
        .imagentecno4{
        
         
        
            background-repeat: no-repeat;
            
            float:center;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("hpta.jpg");
            
                
                }
                .imagentecno5{
        
         
        
                    background-repeat: no-repeat;
                    
                    float:right;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("hpta3.jpg");
                    
                    }
                    .imagentecno6{
        
         
        
                        background-repeat: no-repeat;
                        
                        float:right;
                        
                        height: 200px;
                        
                        width: 260px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("hpta4.jpg");
                        
                        }
                        .imagentecno7{
        
         
        
                            background-repeat: no-repeat;
                            
                            float:right;
                            
                            height: 200px;
                            
                            width: 260px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("hpta5.jpg");
                            
                            }
                           
                            .contenedorreligion{

                                height: 5000px;
                                
                                width: 100%;
                                
                                position: absolute;
                               
                                top: 300px
                
                                
                                 
                                
                                } 
                                
                                 
                                
                                .imagenreligion{
                                
                                background-repeat: no-repeat;
                                
                                float:left;
                                    
                                height: 200px;
                                    
                                width: 260px;
                                    
                                margin-left: 15px;
                                    
                                margin: right 19px;
                                
                                background-image: url("hindu.jpg")
                                }
                            
                                .textoreligion{
                
                             
                                
                                text-align:justify;
                                
                                color: rgb(0, 0, 0);
                                
                                font-size: 20px;
                                font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
                                
                                
                                } 
    
                                .imagenreligion2{
                                
                                    background-repeat: no-repeat;
                                    
                                    float:left;
                                        
                                    height: 200px;
                                        
                                    width: 260px;
                                        
                                    margin-left: 15px;
                                        
                                    margin: right 19px;
                                    
                                    background-image: url("sip.jpg")
                                    }
                                    .imagensociales3p{
        
         
        
                                        background-repeat: no-repeat;
                                        
                                        float:left;
                                        
                                        height: 1980px;
                                        
                                        width: 807px;
                                        
                                        margin-left: 5px;
                                        
                                        margin-right:5px;
                                        
                                        background-image: url("REVOLUCIÓN\ INDUSTRIAL\ \(1\).png");
                                        
                                        }
                                        .contenedorsociales3{
            
                                            height: 2000px;
                                            
                                            width: 100%;
                                            
                                            position: absolute;
                                            
                                            top: 300px
                                            
                                             
                                            
                                            }
                                            .textosociales2{
                    
                                                text-align: justify;
                                                
                                                color: rgb(0, 0, 0);
                                                
                                                font-size: 30px;
                                                font-family: sans-serif;
                                                
                                                
                                                 
                                            }
                                            .contenedoringles3{
            
                                                height: 7000px;
                                                
                                                width: 100%;
                                                
                                                position: absolute;
                                                
                                                top: 300px

                                           
                                                    
                                                    }
                                                    .textoingles3{
            
                                                        text-align: justify;
                                                        
                                                        color: rgb(0, 0, 0);
                                                        
                                                        font-size: 20px;
                                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                                        
                                                        
                                                    } 
                                                    .contenedormatematicas3{
            
                                                        height: 3000px;
                                                        
                                                        width: 100%;
                                                        
                                                        position: absolute;
                                                        
                                                        top: 300px
        
                                                   
                                                            
                                                            }
                                                            .imagenmatematicas1p3{
        
         
        
                                                                background-repeat: no-repeat;
                                                                
                                                                float:right;
                                                                
                                                                height: 500px;
                                                                
                                                                width: 807px;
                                                                
                                                                margin-left: 5px;
                                                                
                                                                margin-right:5px;
                                                                
                                                                background-image: url("factorizacion.jpg");
                                                                
                                                                }
                                                            
                                                            .imagenmatematicas2p3{
        
         
        
                                                                background-repeat: no-repeat;
                                                                
                                                                float:right;
                                                                
                                                                height: 500px;
                                                                
                                                                width: 807px;
                                                                
                                                                margin-left: 5px;
                                                                
                                                                margin-right:5px;
                                                                
                                                                background-image: url("tronomio.png");
                                                                
                                                                }
                                                                .imagenmatematicas3p3{
        
         
        
                                                                    background-repeat: no-repeat;
                                                                    
                                                                    float:right;
                                                                    
                                                                    height: 367px;
                                                                    
                                                                    width: 1214px;
                                                                    
                                                                    margin-left: 5px;
                                                                    
                                                                    margin-right:5px;
                                                                    
                                                                    background-image: url("factorizacion\ por\ factor\ comun.png");
                                                                    
                                                                    }
                                                                    .contenedortecnologia3{
            
                                                                        height: 1600px;
                                                                        
                                                                        width: 100%;
                                                                        
                                                                        position: absolute;
                                                                        
                                                                        top: 300px
                        
                                                                   
                                                                            
                                                                            }
                                                       
                                                                            .textotecnologia3{
            
                                                                                text-align: justify;
                                                                                
                                                                                color: rgb(0, 0, 0);
                                                                                
                                                                                font-size: 30px;
                                                                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                                                                
                                                                                
                                                                        } 
                                                                        .imagentecnologiap3{
        
         
        
                                                                            background-repeat: no-repeat;
                                                                            
                                                                            float:right;
                                                                            
                                                                            height: 367px;
                                                                            
                                                                            width: 814px;
                                                                            
                                                                            margin-left: 5px;
                                                                            
                                                                            margin-right:5px;
                                                                            
                                                                            background-image: url("tecnologia1p3.jpeg");
                                                                            
                                                                            }
                                                    
                                                    